/* Color Theme Swatches in Hex */

.Vintage-Perfume-9-1-hex {
    color: #F2EBDF;
}

.Vintage-Perfume-9-2-hex {
    color: #D9B991;
}

.Vintage-Perfume-9-3-hex {
    color: #F2D0A7;
}

.Vintage-Perfume-9-4-hex {
    color: #8C7B65;
}

.Vintage-Perfume-9-5-hex {
    background: #594636;
}

html, body {
    margin: 0;
    height: 100%;
    background: #8C7B65;
}

#sudoku, td, tr {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18pt;
    background: #F2EBDF;
    border-radius: 5px;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
}
.invisible {
    display: none !important;
}
#options {
    width: 100%;
    height: 30%;
    background: #594636;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}



.option {
    width: 75px;
    height: 75px;
    background: #D9B991;
    text-align: center;
    border-radius: 50%;
    position: relative;
    left: 10%;
    top: 10%;
    font-size: 15pt;
    line-height: 370%;
}

.current {
    background: #D9B991;
    border-radius: 50px;
}