html,
body {
  font-family: "Product sans", monospace;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: rgb(240, 242, 245);
}

.sudoku-container {
  width: clamp(300px, 50vw, 600px);
  height: clamp(300px, 50vw, 600px);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 8px #00000040;
}

.sudoku-container,
.block {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.cell {
  display: grid;
  place-items: center;
  font-size: larger;
}
.block {
  background-color: rgb(211, 219, 241);
}
.block:nth-child(odd) {
  background-color: rgb(233, 240, 255);
}
